@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@import url('./transition.css');

$gray: rgb(200,200,200); 

:root {
	font-size: 17px;
	font-weight: 300;
	--color-text: #000;
	--color-text-alt: #fff;
	--color-frame-alt: #a17445;
	--color-bg: #c6c1b7;
	--color-bg-alt: #18130e;
	--color-link: #000;
	--color-link-alt: #fff;
	--color-link-hover: #000;
	--color-link-hover-alt: #a17445;
	--color-column-title: #727170;
	--color-overlay: #000;
	--color-border: #a0988a;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 1920px;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: rgb(220, 220, 220);

    &::-webkit-scrollbar { display: none }

    @media screen and (max-width: 480px) {
        font-size: 14px;
    }
}


canvas#webgl {
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 90%;
    max-height: 80%;
    opacity: 0.6;
    // border: 5px solid palegoldenrod;
}

.cursor {
    pointer-events: none;
    &__ball {
      position: fixed;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 9999;
      circle {
        fill: #f7f8fa;
      }
    }

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

header {
    position: relative;
    top: 0;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: auto;
    z-index: 1;

    .tabs {
        width: 90%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        .tab {
            cursor: pointer;
            color: rgb(220, 220, 220);
            text-decoration: none;
            background: none;
            border: none;
            font-size: 15px;
            font-weight: 300;
            text-transform: capitalize;
            border-bottom: 1px solid transparent;
            transition: border-bottom 0.2s ease-in-out, color 0.3s ease-in-out;
            padding: 0;
            cursor: pointer;

            @media screen and (max-width: 480px) {
                font-size: 14px;
            }

            &:hover {
                color: white;
                border-bottom: 1px solid white;
            }
        }
    }
    
}

.tab-content {
    opacity: 0;
    display: block;
    // transition: opacity 0.5s ease-in-out;
    
    &.visible {
        opacity: 1;
    }
}
  
#tab1 {
    position: absolute;
    width: 100%;
    height: 91vh;
    z-index: 11;

    @media screen and (max-width: 480px) {

    }
  
    .title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      height: 90%;
      width: 90%;
      margin: auto;
      padding: 0.5rem;

      @media screen and (max-width: 480px) {

      }

      &__text {
        font-family: 'Inter', sans-serif;
        font-size: clamp(2rem, 5vw, 6rem);
        font-weight: 400;
        letter-spacing: -0.2rem;
        text-transform: capitalize;
        color: white;
        opacity: 1;
        
        @media screen and (max-width: 480px) {
            font-size: 2rem;
            line-height: 2.1rem;
            letter-spacing: -0.18rem;
        }
      }
  
      &__amp {
        border: 3px solid white;
        border-radius: 50%;
        height: clamp(1.8rem, 4vw, 6rem);
        width: clamp(1.8rem, 4vw, 6rem);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0.2rem;
        margin-right: 0.5rem;
        font-size: clamp(1.4rem, 3vw, 6rem);

        @media screen and (max-width: 480px) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.5rem;
            font-size: 1.2rem;
            height: 1.8rem;
            width: 1.8rem;
            min-height: 1.8rem;
            min-width: 1.8rem;
            padding-right: 0.15rem;
            border: 3px solid white;
        }
      }
  
      .text-wrap {
        display: flex;
        align-items: center;
        @extend .title__text
      }
  
    }
}

#tab2 {
    position: absolute;
    width: 100%;
    height: 91vh;
    z-index: 1;

    .more-items {
        button {
            background: none;
            color: #5a5a5a;
            text-transform: uppercase;
            font-family: 'inter', sans-serif;
            font-size: 15px;
            border: none;
            transition: color 0.3s ease-in-out;

            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                transition: stroke 0.3s ease-in-out;
            }

            &:hover {
                color: white;

                svg {
                    stroke: white;
                }
            }
        }
    }
}

#tab3 {
    position: absolute;
    width: 100%;
    height: 91vh;
    z-index: 1;

    .info-wrapper::-webkit-scrollbar { display: none }

    .info-wrapper {
        position: relative;
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;

        @media screen and (max-width: 480px) {
            height: 100vh;
            overflow: auto;
            // pointer-events: auto;
        }
        
        .info::-webkit-scrollbar { display: none }
        
        .info {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 2rem;
            overflow: auto;

            @media screen and (max-width: 780px) {
                width: 100%;
            }

            &__title {
                font-size: 15px;
                font-weight: 300;
                color: #969696;
                margin: 0;
                width: 12%;

                @media screen and (max-width: 480px) {
                    display: none;
                }
            }

            &__about {
                display: flex;
                align-items: flex-start;
                width: 100%;

                .p-wrapper {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    line-height: 1.5rem;
                    font-size: 15px;

                    @media screen and (max-width: 480px) {
                        width: 95%;
                    }

                    &__text {
                        margin: 0;
                    }
                }
            }

            &__tech {
                display: flex;
                align-items: flex-start;
                width: 100%;

                &__wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 80%;

                    &__sub {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 0;

                        &-top {
                            @extend .info__tech__wrap__sub;
                        }
                    }

                    &__row {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.4rem;

                        & span {
                            font-size: 13px;
                            color: #969696;
                            background-color: rgba(150, 150, 150, 0.2);
                            padding: 6px;
                            border-radius: 8px;
                        }
                    }
                }
            }
            &__contact {
                display: flex;
                align-items: flex-start;
                width: 100%;

                @media screen and (max-width: 480px) {
                    padding-bottom: 4rem;
                }
    
                &__wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 1.5rem;
                    width: 80%;
                    
                    &__email {
                        display: flex;
                        align-items: center;
                        
                        
                        &__sub {
                            font-size: 15px;
                            font-weight: 400;
                            margin: 0;
                            width: 100%;
                        }
                    }
    
                    &__button {
                        background: none;
                        color: white;
                        font-size: 15px;
                        // pointer-events: auto;
                        // cursor: pointer;
                        border: none;
                        border-bottom: 1px solid white;
                        width: fit-content;
                        padding: 0;
                        margin: 0;
                    }
    
                    &__socials {
                        display: flex;
                        gap: 1rem;
                        
    
                        button {
                            background: none;
                            color: white;
                            font-size: 15px;
                            // pointer-events: auto;
                            // cursor: pointer;
                            border: none;
                            border-bottom: 1px solid white;
                            padding: 0;
    
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
        
    }
}
