@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@import url('./transition.postcss');

$gray: rgb(200,200,200); 

:root {
	font-size: 17px;
	font-weight: 300;
	--color-text: #000;
	--color-text-alt: #fff;
	--color-frame-alt: #a17445;
	--color-bg: #c6c1b7;
	--color-bg-alt: #18130e;
	--color-link: #000;
	--color-link-alt: #fff;
	--color-link-hover: #000;
	--color-link-hover-alt: #a17445;
	--color-column-title: #727170;
	--color-overlay: #000;
	--color-border: #a0988a;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;

    &::-webkit-scrollbar { display: none }
}

canvas#webgl {
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 90%;
    max-height: 80%;
    opacity: 0.4;
}

.cursor {
    pointer-events: none;

    &__ball {
      position: fixed;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 9999;

      circle {
        fill: #f7f8fa;
      }
    }

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 99;

    .tabs {
        width: 90%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto; 
        .tab {
            cursor: pointer;
            color: white;
            text-decoration: none;
            background: none;
            border: none;
            font-size: 15px;
            border-bottom: 1px solid transparent;
            transition: border-bottom 0.2s ease-in-out, color 0.3s ease-in-out;
            padding: 0;
            cursor: pointer;
            &:hover {
                color: white;
                border-bottom: 1px solid white;
            }
        }
    }
    
}

.tab-content {
    display: none;
    transition: opacity 0.3s ease-in-out;
  
    &.active {
      display: block;
      opacity: 0;
      animation: fadeIn 0.5s forwards;
    }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  #tab1 {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
  
    .title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      height: 90%;
      width: 90%;
      margin: auto;
     
      &__text {
        font-family: 'Inter', sans-serif;
        font-size: 5rem;
        font-weight: 400;
        line-height: 5.5rem;
        letter-spacing: -0.2rem;
        text-transform: capitalize;
        color: white;
        opacity: 0;
        animation: fadeIn 1s 0.5s forwards;
      }
  
      &__amp {
        border: 4px solid white;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        min-height: 4rem;
        min-width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        font-size: 3rem;
      }
  
      .text-wrap {
        display: flex;
        align-items: center;
        @extend .title__text
      }
  
    }
}

#tab2 {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 10;
    animation: fadeIn 1.5s 1s forwards;
}
