@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-xsmall: clamp(12px, 1.5vw, 14px);
$font-small: clamp(14px, 1.5vw, 16px);
$font-medium: clamp(16px, 2.0vw, 18px);
$font-large: clamp(25px, 2.5vw, 30px);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
    height: auto;
    max-width: 1000px;
    margin: auto;
    padding: 30px 30px;
    background-color: rgb(20, 20, 20);
    font-family: 'Inter', sans-serif;
    color: #eee;

    &::-webkit-scrollbar { display: none }
}

#main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#left {
    width: 65%;
}

#right {
    width: 30%;
}

.hr {
    width: 100%;
    border: 1px solid #252525;
    margin: 15px 0;
}

.time-place-name {
    color: #eee;
    font-size: $font-xsmall;
    font-weight: 400;
}

h3 {
    font-size: $font-small;
    font-weight: 300;
    color: #bbb;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    gap: 10px;

    h1 { 
        font-size: $font-large;
        font-weight: 400;
        color: #eee;
        margin-left: -1px;
    }

    h2 {
        font-size: $font-medium;
        font-weight: 300;
        color: #ccc;
    }
    .links {
        display: flex;
        flex-direction: column;
        gap: 5px;
        // align-items: center;
        // justify-content: space-between;
        // width: 100%;

        a {
            display: flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;
            font-size: $font-xsmall;
            font-weight: 300;
            color: #ccc;

            i {
                font-size: $font-xsmall;
                color: #ccc;
            }
        }
    }
}

#projects {
    width: 100%;

    h3 {
        margin-bottom: 15px;
    }

    .project-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .project {
        width: 100%;
        display: flex;

        &-title {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 35%;

            h3 {
                font-size: $font-small;
                color: #eee;
                margin-bottom: 10px;
            }

            .link {
                font-size: $font-xsmall;
                font-weight: 300;
                text-decoration: none;
                color: #ccc;
                width: fit-content;
            }

            .time-place {
                font-size: $font-xsmall;
                font-weight: 300;
                text-decoration: none;
                color: #ccc;
                width: fit-content;
            }
        }

        &-info {

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                list-style: none;

                .li-wrap {
                    display: flex;
                    
                    svg {
                        min-width: 5px;
                        margin-top: 6px;
                        margin-right: 5px;
                    }

                    li {
                        font-size: $font-xsmall;
                        font-weight: 300;
                        color: #ccc;
                    }
                }
            }
        }
    }
}

#experience {
    @extend #projects;
}

#education {
    @extend #projects;

    .edu-wrap {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h3 {
            color: #eee;
            margin-bottom: 10px;
        }

        .edu-title {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .time-place-name {
                font-size: $font-xsmall;
                font-weight: 400;
                text-decoration: none;
                color: #eee;
                width: fit-content;

                &-alt {
                    font-size: $font-xsmall;
                    font-weight: 300;
                    text-decoration: none;
                    color: #aaa;
                }
            }
            
            .time-place {
                font-size: $font-xsmall;
                font-weight: 300;
                text-decoration: none;
                color: #ccc;
                width: fit-content;
            }
        }
    }
}

#skills {
    @extend #education;

    .skills-wrap {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .skills {
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            .time-place-name {
                color: #eee;
                font-size: $font-xsmall;
                font-weight: 400;
            }

            .skills-sub {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                font-size: $font-xsmall;
                font-weight: 300;
    
                .time-place {
                    font-size: $font-xsmall;
                    color: #ccc;
                }
            }
        }
    }
}