@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding: 20px 15px;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    font-family: 'Inter', sans-serif;
    color: #eee;
}

hr {
    width: 100%;
    margin: auto;
    border: 1px solid #252525;
    margin: 20px 0;
}

h3 {
    font-size:18px;
    font-weight: 300;
    color: #aaa;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 20px;
    margin-bottom: 15px;

    h1 { 
        font-size: 35px;
        font-weight: 500;
        color: #eee;
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;

        a {
            display: flex;
            align-items: center;
            gap: 3px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 300;
            color: #ccc;

            i {
                font-size: 18px;
                color: #ccc;
            }
        }
    }
}

#projects {
    width: 100%;

    h3 {
        margin-bottom: 20px;
    }

    .project-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    
    .project {
        width: 100%;
        display: flex;
        align-items: flex-start;

        &-title {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 9rem;
            min-width: 9rem;

            h3 {
                color: #eee;
                margin-bottom: 10px;
            }

            .link {
                font-size: 14px;
                font-weight: 300;
                text-decoration: none;
                color: #ccc;
                width: fit-content;
            }
        }

        &-info {
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                list-style: none;

                .li-wrap {
                    display: flex;
                    
                    svg {
                        min-width: 5px;
                        margin-top: 8px;
                        margin-right: 5px;
                    }

                    li {
                        font-size: 14px;
                        font-weight: 300;
                        color: #ccc;
                    }
                }
            }
        }
    }
}