%top
  top: 0
  left: 0
  width: 100%
  
%fixed
  @extend %top
  
  position: fixed
  
%absolute
  @extend %top
  
  position: absolute
  
*
  margin: 0
  padding: 0
  box-sizing: border-box

body

  width: 100%
  height: auto
  overscroll-behavior: none
  
  &::-webkit-scrollbar
    display: none
     
canvas.webgl
  @extend %fixed
  pointer-events: none
  mix-blend-mode: none
  z-index: -10

  @media (max-width: 64em)
      opacity: .3


.scroll
  &__stage
    @extend %fixed

    height: auto

  &__content
    @extend %absolute

    will-change: transform
