:root {
	font-size: 17px;
	font-weight: 300;
	--color-text: #000;
	--color-text-alt: #fff;
	--color-frame-alt: #a17445;
	--color-bg: #c6c1b7;
	--color-bg-alt: #18130e;
	--color-link: #000;
	--color-link-alt: #fff;
	--color-link-hover: #000;
	--color-link-hover-alt: #a17445;
	--color-column-title: #727170;
	--color-overlay: #000;
	--color-border: #a0988a;
}


.main-wrap {
	position: relative;
	height: 100%;
    width: 100%;
    margin: auto;
    /* overflow: hidden; */
}

.oh {
	position: relative;
    overflow: hidden;
	margin: 0;
}

.oh__inner {
	will-change: transform;
    display: inline-block;
}

.oh__cap {
	text-transform: capitalize;
}

.oh__wrapper {
	display: flex;
	justify-content: flex-end;
	gap: 2rem;
}

.line {
	transform-origin: 0 50%;
	white-space: wrap;
	will-change: transform;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
}

.unbutton:focus {
	outline: none;
}

.content {
	display: flex;
	width: 100%;
	height: 100%;
	margin: auto;
	pointer-events: auto;
	overflow: hidden;
}

.content::-webkit-scrollbar { display: none; }

.content--hidden {
	pointer-events: none;
}

.item-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	height: 80%;
	width: 60%;
	margin: auto 5% auto auto;
	overflow: auto;
}

.item-wrapper::-webkit-scrollbar { display: none; }

.item-line {
	margin: 0;
	width: 100%;
	border: 1px solid #3d3d3d;
	margin: 1vh 0;
}

.item__image-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 175px;
	height: 100%;
	overflow: hidden;
	transform: translateX(-100%);
}

.item__image {
	width: 100%;
	height: 100%;
	/* max-height: 3rem; */
	object-fit: cover;
	height: auto;
	visibility: hidden;
}

.item {
	position: relative;
	width: 100%;
	height: 100%;
	color: #969696;
	stroke: #969696;
	cursor: pointer;
	overflow: hidden;
}

.item:hover {
	stroke: white;
	color: white;
}

.item__meta {
    font-weight: 300;
    font-size: clamp(0.7rem, 1.5vw, 1rem);
	margin: 0.5% 0 0 0;
	transition: color 0.3s ease-in-out;
	width: 20%;
}

.item__title {
	font-weight: 400;
	font-size: clamp(1.8rem, 3.5vw, 5rem);
	letter-spacing: -3px;
	margin: 0;
	padding: 0;
	width: 50%;
	transition: color 0.3s ease-in-out;
}

.item__svg {
	margin-top: 0.5%;
	transition: stroke 0.3s ease-in-out;
	width: auto;
}

.item__desc {
	margin: 1rem 0 0 0;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
}

.item__link {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.overlay {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	pointer-events: none;
}

.overlay__row {
	background: rgb(0, 0, 0);
	transform: scaleY(0);
	will-change: transform;
	pointer-events: none;
}

.overlay__row:first-child {
	transform-origin: 0% 0%;
}

.overlay__row:last-child {
	transform-origin: 0% 100%;
}

.previews {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
	height: auto;
}

.preview {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
    left: 0;
	z-index: 100;

	width: 95%;
	height: 100%;
	margin: auto;
	overflow: hidden;
}

.preview--current {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 1;
	pointer-events: auto;
}

.preview__link {
	display: flex;
	font-size: 15px;
	color: #969696;
	stroke: #969696;
	text-decoration: none;
}

.preview__link:hover {
	color: white;
	stroke: white;
}


.preview__title-wrap {
	position: relative;
	height: 60vh;
	overflow: hidden;
}

.preview__img {
	position: relative;
	width: 100%;
    min-height: 200px;
	max-height: 1000px;
    overflow: hidden;
    transform: translateY(-101%);
    pointer-events: none;
	will-change: transform;
}

.preview__img-inner {
	background-position: 50% 35%;
	background-size: cover;
	width: 100%;
	height: 100%;
	transform: translateY(101%);
	will-change: transform;
}

.preview__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: normal;
	font-size: clamp(2rem,10vw,10rem);
	white-space: nowrap;
	font-weight: 500;
    letter-spacing: -5px;
	color: white;
}

.preview__title span {
	line-height: 0.7;
    padding-top: 3%;
}

.preview__column-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 20vh;
}

.preview__column-wrap-inner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.preview__column p {
	line-height: 1.7;
	font-size: 15px;
	opacity: 0;
    width: auto;
	max-width: 650px;
	margin: 0;
	padding: 0;
}

.preview__column > span {
	display: flex;
	margin: 0;
}

.preview__column-title {
	font-weight: 300;
	margin-top: 0;
	font-size: 15px;
	text-transform: capitalize;
	color: #969696;
}

.preview__column-title-sub {
	font-size: 13px;
}

.preview__column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.preview__footer-wrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer-oh-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 12%;
}

.preview__back {
	margin: 0;
	stroke: #969696;
	fill: none;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
	font-size: 15px;
    text-transform: capitalize;
    transition: stroke 0.3s ease-in-out, color 0.3s ease-in-out;
}

.preview__back:hover {
    color: white;
	stroke: white;
}

