@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$base-dark: #0a0a0a;
$base-light: #eaeaea;
$base-gray: #6c6c6c;
$base-light-gray: #c0c0c0;

$accent-green: #96a064;
$accent-blue: #77a6b6;
$accent-yellow: #d1b15f;

$accent-one: #e0e1e3;
$accent-two: #aeb7b3;
$accent-three: #c2b299;

$font-size-xl: 64px;
$font-size-l: 32px;
$font-size-m: 24px;
$font-size-s: 16px;

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 13px;
}

body {
	margin: 0;
	--color-text: $base-light;
	--color-bg: black;
	--color-1: blue;
	--color-2: purple;
	--color-link: white;
	--color-link-hover: white;
	color: $base-light;
	background-color: var(--color-bg);
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    
}


.cursor {
    pointer-events: none;
    
    &__ball {
      position: fixed;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 9999;
      
      circle {
        fill: #f7f8fa;
      }
    }
    
    @media only screen and (max-width: 768px) {
        display: none;
    }
} 
  
//universal styles

.action-button {
    font-size: 15px;
    color: white;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s ease-in-out;

    &:hover {
        text-decoration-color: white;
    }
}



.hr-divider {
    margin: 5rem auto auto;
    width: 95%;

    &:nth-of-type(3) {
        margin: auto;
    }
    &:nth-of-type(4) {
        margin: 0 auto;
    }
}

.section__divider {
    width: 95%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 15px;
    text-transform: uppercase;
}

//////

.frame {
    position: absolute;
    top: 0;
    height: calc(5vh);
    width: 100%;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;


    &__wrapper {
        position: relative;
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.5rem 4rem;

        &__title {
            height: fit-content;
        }

        &__links {
            display: flex;
            gap: 12px;
            width: auto;
            height: auto;
      
        }
    }
}


.hero__section {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100vh;
    &__banner {
        margin: auto;
        height: 85%;
        width: min(90vw, 120rem);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 15px;

        &__display {
            font-size: min(5vw, 8rem);
            font-weight: 400;
            letter-spacing: -1.5px;
        }
    }
}


.scroll-border {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    
    .scrolling-wrap {
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        background-color: rgba($color: #000000, $alpha: 0.7);

        .comm {
            display: flex;
            font-size: 7rem;
            font-weight: 500;
            animation: scroll 120s linear infinite;
            cursor: pointer;
            margin: 0;

            div {
                margin: 0;
                font-family: 'Inter', sans-serif;
                letter-spacing: -0.2rem;
                &:before {
                    content:'\002a';
                    color: $base-light-gray;
                    margin: auto 2rem;
                }
                &:nth-child(odd) {
                    font-family: 'Playfair Display', serif;
                    font-style: italic;
                }
            }
        } 
    } 
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.about__section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.9);

    .background {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
        
    }
    
    &__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: min(7vw, 10rem);
        opacity: .9;
        padding-top: 10%;
        padding-bottom: 10%;

        &-font {
            font-weight: 500;
            font-style: italic;
            font-family: 'Playfair Display', serif;
            color: white;
        }
    }
    
    &__sub {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        line-height: 50px;
       

        &-p {
            font-size: min(1.5rem, 10rem);
            font-weight: 400;
            max-width: 89ch;
            color: white;
           
        }


        &__skills {
            width: 94%;
            max-width: 89ch;
            display: flex;
            justify-content: space-between;
            font-size: min(1.5rem, 10rem);

            &-text {
                width: 20%;
                font-weight: 600;
            }

            &__wrapper {
                width: 80%;
                
                
                &-col {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 20px;
                    &:nth-of-type(1) {
                        padding-top: 0;
                    }
                    &-header {
                        width: 30%;
                        font-weight: 600;
                    }

                    &-wrapper {
                        width: 13rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        line-height: 4rem;
                        color: rgb(221, 221, 221);
                    
                    }
                }

                &-hr {
                    color: red;
                }
            }
        }
    }

    .underline {
        text-decoration: underline;
    }

    &__s {
        padding: 10rem 5rem 5rem;

        &-p {
            font-size: min(1.7rem, 10rem);
            font-weight: 400;
            max-width: 80ch;
            color: white;
        }
    }

    &__c {

        &-l {
            font-size: min(3.7rem, 10rem);
            font-weight: 600;
            max-width: 80ch;
            color: white;
            padding-bottom: 10%;
            text-decoration: none;
        }
    }
}

.works__section {
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    nav {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 95%;
        padding: clamp(2rem, 10vw, 8rem);
    }
      
      nav > a {
        color: rgba(255, 255, 255, 0.7);
        font-size: min(5vw, 8rem);
        font-weight: 400;
        letter-spacing: -1.5px;
        text-decoration: none;
        position: relative;

        .project-details {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease;
        }
          
          
        .project.active .project-details {
            max-height: 1000px;
            transition: max-height 0.5s ease-in;
        }
          
      }
      
      nav > a:hover {
        color: white;
      }
      
      nav > a > span {
        display: block;
        padding: 1rem;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        position: relative;
        z-index: 2;
      }
      
      nav > a:hover > span {  
        border-top-color: white;
        border-bottom-color: white;
      }
      
      nav > a > img {
        position: absolute;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
        transition: transform 250ms, opacity 250ms;
        pointer-events: none;
        width: min(40vw, 500px);
      }
      
      nav > a:hover > img {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }

}

.contact__section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__wrap {
        height: 40vh;
        width: 95%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__left {
            font-size: min(3vw, 6rem);
            font-weight: 400;
            letter-spacing: -1.5px;
            max-width: 18ch;
        }

        &__right {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            font-size: min(3vw, 4rem);
            font-weight: 400;
            letter-spacing: -1.5px;
            
            &-email {
                text-decoration: none;
                color: white;
            }

            &-button {
                align-self: flex-end;
                width: 50%;
                padding: 16px;
                border: 2px solid white;
                border-radius: 120px;
                background: none;
                color: white;
                font-size: min(1.5vw, 2rem);
                background-color: transparent;
                transition: background-color 0.35s ease-in-out;
                
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}

.footer__section {
    position: relative;
    height: calc(5vh);
    width: 97%;
    margin: auto;
    .footer-wrapper {
        height: 100%;
        font-size: 15px;
       
        .footer-span-wrapper {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;

            .span-links {
                display: flex;
                list-style: none;
                gap: 12px;
            }
        }
    }
}