@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 13px;
}

body {
  margin: 0;
  --color-text: $base-light;
  --color-bg: black;
  --color-1: blue;
  --color-2: purple;
  --color-link: white;
  --color-link-hover: white;
  color: #eaeaea;
  background-color: var(--color-bg);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rolling-text {
  display: inline-block;
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: -0.5px;
  height: 22.5px;
  text-decoration: none;
  overflow: hidden;
  color: #eaeaea;
}
.rolling-text:hover .letter, .rolling-text.play .letter {
  transform: translateY(-100%);
}
.rolling-text .block:last-child {
  color: #eaeaea;
}
.rolling-text .letter {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.letter:nth-child(1) {
  transition-delay: 0s;
}

.letter:nth-child(2) {
  transition-delay: 0.015s;
}

.letter:nth-child(3) {
  transition-delay: 0.03s;
}

.letter:nth-child(4) {
  transition-delay: 0.045s;
}

.letter:nth-child(5) {
  transition-delay: 0.06s;
}

.letter:nth-child(6) {
  transition-delay: 0.075s;
}

.letter:nth-child(7) {
  transition-delay: 0.09s;
}

.letter:nth-child(8) {
  transition-delay: 0.105s;
}

.letter:nth-child(9) {
  transition-delay: 0.12s;
}

.letter:nth-child(10) {
  transition-delay: 0.135s;
}

.letter:nth-child(11) {
  transition-delay: 0.15s;
}

.letter:nth-child(12) {
  transition-delay: 0.165s;
}

.letter:nth-child(13) {
  transition-delay: 0.18s;
}

.letter:nth-child(14) {
  transition-delay: 0.195s;
}

.letter:nth-child(15) {
  transition-delay: 0.21s;
}

.letter:nth-child(16) {
  transition-delay: 0.225s;
}

.letter:nth-child(17) {
  transition-delay: 0.24s;
}

.letter:nth-child(18) {
  transition-delay: 0.255s;
}

.letter:nth-child(19) {
  transition-delay: 0.27s;
}

.letter:nth-child(20) {
  transition-delay: 0.285s;
}

.letter:nth-child(21) {
  transition-delay: 0.3s;
}

.hr-divider {
  margin: 5rem auto auto;
  width: 95%;
}
.hr-divider:nth-of-type(3) {
  margin: auto;
}
.hr-divider:nth-of-type(4) {
  margin: 0 auto;
}

.background-blur {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(250px);
          backdrop-filter: blur(250px);
}

.section__divider {
  width: 95%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  text-transform: uppercase;
}

.frame {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
}
.frame__wrapper {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 3.5rem 4rem;
}
.frame__wrapper__title {
  height: -moz-fit-content;
  height: fit-content;
}
.frame__wrapper__links {
  display: flex;
  gap: 12px;
  width: auto;
  height: auto;
}

.hero__section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100vh;
}
.hero__section__banner {
  margin: auto;
  height: 85%;
  width: min(90vw, 120rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
}
.hero__section__banner__display {
  font-size: min(5vw, 8rem);
  font-weight: 400;
  letter-spacing: -1.5px;
}

.scroll-border {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.scroll-border .scrolling-wrap {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
}
.scroll-border .scrolling-wrap .comm {
  display: flex;
  font-size: 7rem;
  font-weight: 500;
  animation: scroll 120s linear infinite;
  cursor: pointer;
  margin: 0;
}
.scroll-border .scrolling-wrap .comm div {
  margin: 0;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.2rem;
}
.scroll-border .scrolling-wrap .comm div:before {
  content: "*";
  color: #c0c0c0;
  margin: auto 2rem;
}
.scroll-border .scrolling-wrap .comm div:nth-child(odd) {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.about__section {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__section .background {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(250px);
          backdrop-filter: blur(250px);
}
.about__section__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: min(7vw, 10rem);
  opacity: 0.9;
  padding-top: 10%;
  padding-bottom: 10%;
}
.about__section__text-font {
  font-weight: 500;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: white;
}
.about__section__sub {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  line-height: 50px;
}
.about__section__sub-p {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 89ch;
  color: white;
}
.about__section__sub__skills {
  width: 94%;
  max-width: 89ch;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.about__section__sub__skills-text {
  width: 20%;
  font-weight: 600;
}
.about__section__sub__skills__wrapper {
  width: 80%;
}
.about__section__sub__skills__wrapper-col {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.about__section__sub__skills__wrapper-col-header {
  width: 30%;
  font-weight: 600;
}
.about__section__sub__skills__wrapper-col-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 50px;
  line-height: 4rem;
  color: rgb(221, 221, 221);
}
.about__section .underline {
  text-decoration: underline;
}
.about__section__s {
  padding: 10rem 5rem 5rem;
}
.about__section__s-p {
  font-size: 1.7rem;
  font-weight: 400;
  max-width: 80ch;
  color: white;
}
.about__section__c-l {
  font-size: 3.7rem;
  font-weight: 600;
  max-width: 80ch;
  color: white;
  padding-bottom: 10%;
  text-decoration: none;
}

.works__section {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.works__section nav {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 95%;
  padding: clamp(1rem, 5vw, 6rem);
}
.works__section nav > a {
  color: rgba(255, 255, 255, 0.5);
  font-size: min(7vw, 10rem);
  font-weight: 400;
  letter-spacing: -5px;
  text-decoration: none;
  position: relative;
}
.works__section nav > a:hover {
  color: white;
}
.works__section nav > a > span {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  z-index: 2;
}
.works__section nav > a:hover > span {
  border-top-color: white;
  border-bottom-color: white;
}
.works__section nav > a > img {
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms, opacity 250ms;
  pointer-events: none;
  width: min(40vw, 500px);
}
.works__section nav > a:hover > img {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.works__section .meta-link {
  align-items: center;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}
.works__section .meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.works__section .meta-link > i, .works__section .meta-link > span {
  height: 20px;
  line-height: 20px;
}
.works__section .meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.contact__section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__section__wrap {
  height: 40vh;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__section__wrap__left {
  font-size: min(3vw, 6rem);
  font-weight: 400;
  letter-spacing: -1.5px;
  max-width: 18ch;
}
.contact__section__wrap__right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: min(3vw, 4rem);
  font-weight: 400;
  letter-spacing: -1.5px;
}
.contact__section__wrap__right-email {
  text-decoration: none;
  color: white;
}
.contact__section__wrap__right-button {
  align-self: flex-end;
  width: 50%;
  padding: 18px;
  border: 2px solid white;
  border-radius: 120px;
  background: none;
  color: white;
  font-size: min(1.5vw, 2rem);
}

.footer__section {
  position: relative;
  height: 5vh;
  width: 97%;
  margin: auto;
}
.footer__section .footer-wrapper {
  height: 100%;
  font-size: 15px;
}
.footer__section .footer-wrapper .footer-span-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.footer__section .footer-wrapper .footer-span-wrapper .span-links {
  display: flex;
  list-style: none;
  gap: 12px;
}/*# sourceMappingURL=style.css.map */