@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Michroma&display=swap');

$base-dark: #0a0a0a;
$base-light: #eaeaea;
$base-gray: #393939;
$base-light-gray: #898989;

$accent-green: #96a064;
$accent-blue: #77a6b6;
$accent-yellow: #d1b15f;

$accent-one: #e0e1e3;
$accent-two: #aeb7b3;
$accent-three: #c2b299;

$font-size-xl: 64px;
$font-size-l: 32px;
$font-size-m: 24px;
$font-size-s: 16px;

$border: 2.2px solid $base-light;

$gap-l: 18px;
$gap-s: 4px;

$padding-l: 18px;
$padding-s: 4px;
$padding-spacer: 0 18px 18px 20px;

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: $base-dark;
    color: $base-light;
}

.webgl-wrapper {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    #webgl {
        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        justify-content: center;
    }
}

#Navigation {
    position: relative;
    height: auto;
    width: 100%;
    padding: $padding-l;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: -0.5px;
    max-width: 1920px;
    margin: auto;

    .nav-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 25px;

            .nav-left {
                width: auto;
            }

            .nav-right {
                width: auto;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 22px;
            }
        }
    }
}

#Home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 790px));
    background-color: transparent;
    padding: $padding-l;
    z-index: 2;
    pointer-events: none;
    #hero {
        width: 100%;
        height: 100%;
        background-color: transparent;

        .hero-text {
            width: 100%;
            height: 100%;
            line-height: 100px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            background-image: linear-gradient(to right, 
            rgba(255,255,255,0.85), 
            rgba(255,255,255,1), 
            rgba(255,255,255, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            backdrop-filter: blur(25px);
            color: white;
            

            font-size: 120px;
            letter-spacing: -5px;

            span:nth-child(1) {
                padding-left: 50px;
            }
            span:nth-child(2) {
                padding-left: 0px;
            }
            span:nth-child(3) {
                padding-left: 150px;
            }
        }
       .hero-nav-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: -0.5px;
            margin-bottom: 25px;

            .hero-nav-left {
                display: flex;
                align-items: flex-end;
                gap: 4px;
            }
            .hero-nav-right {
                display: flex;
                gap: 22px;
            }
       }
    }
}

#Works {
    margin-top: 1000px;
    width: 100%;
    max-width: 1920px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 700px));
}

#Footer {
    position: relative;
    max-width: 1920px;
    margin: auto;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
    padding: 0 20px;

    .footer-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        .footer-span-wrapper {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: -0.5px;
            .tabnum {
                display: flex;
                align-items: center;
                gap: 2px;
            }
            .span-name {
                position: absolute;
                left: 45.7%;
            }
            .las {
                font-size: 14px;
            }
        }
    }
}
